<section class="hero align-center">
	<div class="container flex-column">
		<h1 class="white">Cinema<br>Ironhack</h1>
		{{!-- <p>Welcome to {{title}}</p> --}}
		<a href="/movies" class="button self-left">Check the movies!</a>
	</div>
	
</section>