{{!-- <h1>{{title}}</h1>
<p>Welcome to {{title}}</p> --}}


<img class="wallpaper"
     src='/images/cinema.jpg'
     alt= "Cinema screen">

<div class="main">
    <h1 class="main-h1">Cinema Ironhack</h1>
    <button>
        <a href ="/movies">Check the movies!</a></button>
</div>