<div class="movies-list">
    <h1>Movies list</h1>
    <div class="movie-block">
        {{#each movies}}
        <h2>{{this.title}}</h2>
        <img src="{{this.image}}">
        <p><a href="/movie/{{id}}">See more</a></p>
        {{/each}}
    </div>
</div>