
<div class="page-two">

{{#each movies}}
<div class="cards">
    <img src="{{this.image}}">
    <div class="title-page-two"><b>{{this.title}}</b></div>
    <a href="/movie/{{this.id}}" id="id-page-two">See More</a>
</div>
{{/each}}

</div>
