body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
}

a {
  text-decoration:none;
  color: #00B7FF;
  font-weight: 700;
  font-size: 16px;
}

.main {
  background-image: url("/images/cinema.jpg");
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
}

button {
  background-color: #ffffff;
  width: 13.5em;
  height: 3.5em;
  border-radius: 6em;
  padding: 0.5em;
}

.presentation {
  margin-left: 60em;
  margin-bottom: 20em;
}

#titre-principal {
  font-size: 100px;
  color: #ffffff;
}